/**************************
    RESET
**************************/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/**************************
    GENERAL
**************************/

.container{
    max-width: 768px;
    margin: 0 auto;
    padding: 0 20px;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.row{
    display: flex;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.col{
    width: 100% ;
    margin: 10px 0px;
}

section{
    margin: 20px 0;
}

img{
    width: 100%;
    display: block;
}

.button{
    border-radius: 1em;
}

.white-button{
    background-color: white;
    color: black;
    border-radius: 1em;
    padding: 6px 12px;
}

.blue-button{
    background-color: #0084FD;
    border-radius: 1em;
    padding: 8px 42px;
    color: white;
}

.purple-button{
    background-color: #9792E4;
    border-radius: 1.5em;
    padding: 6px 12px;
}

.round-button{
    border-radius: 50%;
}




/**************************
    HEADER
**************************/

header{
    background-color: #0084FD;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 0px;
    color: white;
    z-index: 2;
}

header .row{
    justify-content: space-between;
    align-items: center;
}

.links-row{
    display: none;
}

header a{
    color: white;
    margin: 0 15px;
}

.hamburger-menu a{
    color: white;
}


/**************************
    MAIN
**************************/

/* ICON SECTION */

.icon-section .row{
    flex-wrap: wrap;
    width: 100%;
}

.icon-section .col{
    background-color: #B5DDFF;
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 1em;
}

.icon-section .left > *{
    margin: 20px 0px;
}

.left{
    margin-bottom: 20px;
}

.left p:nth-of-type(2){
    font-weight: 700;
}

.icon-section h3{
    color: #0084FD;
    font-size: 1.3em;
}

.icon-section p{
    color: #5A6E7F;
    font-weight: 700;
    line-height: 2em;
}

.right{
    max-width: 300px;
}

.icon-section .col:not(:first-of-type){
    text-align: center;
    padding-top: 30px;
}

.icon-section .col:not(:first-of-type) *{
    margin-bottom: 15px;
}

.icon-section .col .fa-solid{
    color: #0084FD;
}




/* PLANNING SECTION */

.planning-section{
    background-color: #9792E4;
    padding: 40px 0px;
}

.planning-section .row{
    flex-wrap: wrap;
}

.planning-section .col h3{
    margin: 20px 10px;
}

.planning-section .col p{
    margin: 20px 10px;
}

.planning-section .col a{
    margin: 20px 10px;
}

.planning-section h3{
    font-size: 1.5em;
}

.planning-section .row:first-child{
    color: white;
}

.planning-section .col:first-child h3{
    font-size: 1.7em;
    padding: 30px 0px;
}

#special-card{
    background-color: #FFFFFF;
    color: black;
    border-radius: 2em;
    padding: 35px 20px;
    text-align: center;
}

#special-card p{
    font-style: italic;
}

#special-card .purple-button{
    display: inline-block;
    color: black;
}


/* TESTIMONIAL SECTION */

.testimonial-section{
    text-align: center;
}

.testimonial-section h5{
    font-weight: 400;
}

.testimonial-section h2{
    color: #9792E4;
    padding: 20px 0;
    font-size: 1.75em;
}

.testimonial-section h4{
    padding-top: 30px;
}

.testimonial-section p{
    font-weight: 500;
    line-height: 2em;
}

.testimonial-section .row{
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


.testimonial-section .col:not(:first-child){
    color: white;
    background-color: #9792E4;
    border-radius: 2em;
}

.testimonial-section .image-container{
    flex-shrink: 0;
    padding: 20px 20px;
}

.testimonial-section .image-container img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.testimonial-section .image-caption{
    flex-grow: 1;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.testimonial-section .col{
    margin: 40px 0;
}


/* BENEFITS SECTION */

.benefits-section{
    background-color: #9792E4;
    padding-bottom: 40px;
}

.benefits-section .row{
    flex-wrap: wrap;
}

.benefits-section .col{
    background-color: white;
    color: #9792E4;
    width: calc((100%)- 20px);
    padding: 30px 20px;
    border-radius: 1em;
}

.benefits-section h2{
    color: white;
    text-align: center;
    padding: 30px 0;
    font-size: 2.2em;
}

.benefits-section h3{
    font-size: 3em;
}

.benefits-section h4{
    margin: 20px 0;
}

.benefits-section p{
    margin-bottom: 30px;
    margin-top: 20px;
}

.benefits-section .purple-button{
    padding: 8px 48px;
    color: white;
}


/* ABOUT US SECTION */

.about-us-section h2{
    font-size: 3em;
    color: #9792E4;
}

.about-us-section p{
    line-height: 2em;
    font-weight: 500;
}

.about-us-section .row{
   flex-wrap: wrap;
}

.about-us-section .col:first-child *{
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.about-us-section img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.about-us-section .col:last-child{
    padding: 0 40px;
}

.about-us-section .col:last-child h4{
    padding: 25px 0px;
    color: #9792E4;
    font-size: 1.25em;
}

.about-us-section .image-container{
    position: relative;
    margin-top: 20px;
}

.about-us-section .image-container i{
    position: absolute;
    z-index: 1;
    color: #9792E4;
    top: 0;
    left: 160px;
}

.about-us-section .purple-button{
    color: white;
    font-size: 0.8em;
}

section.about-us-section .col.about-us-text-content{
    width: 100%;
}

/**************************
    FOOTER
**************************/

/* FOOTER TOP */

footer div{
    padding: 10px 10px;
    text-align: center;
}

.footer-top{
    background-color: #9792E4;
}

.footer-top h4{
    color: #D5D4F4;
    font-weight: 400;
    font-size: 0.9em;
}

.footer-top h3{
    color: white;
    font-size: 2em;
}

.footer-top h2{
    color: #FDC15F;
    font-size: 4em;
}

.footer-top p{
    line-height: 2em;
    color: white;
}

.footer-top *{
    margin: 20px 0px;
}

.footer-top .white-button{
    color: #9792E4;
    padding: 20px 60px;
    border-radius: 3em;
    font-weight: 600;
    display: inline-block;
    margin: 10px 0;
}

.footer-top p a{
   text-decoration: underline;
   color: white;
}




/* FOOTER BOTTOM */

.footer-bottom{
    background-color: #333333;
}





/**************************
    RESPONSIVE
**************************/

/*  TABLET DA 768PX   */

@media screen and (min-width: 768px) {


    /* GENERAL */

    .container{
        max-width: 992px;
    }


    /* MAIN */

    .icon-section .container > .row{
        justify-content: space-between;
    }

    .icon-section .row .col{
        width: calc((100% / 3) - 20px);
    }

    .icon-section .row .big-col{
        width: calc((100% / 3) * 2 - 10px);
    }

    .benefits-section .row .col{
        width: calc((100% / 2) - 20px);
    }

    .benefits-section .container > .row{
        justify-content: space-between;
    }
    
    .about-us-section .col:first-child{
        width: 60%;
    }

    .about-us-section .col{
        width: 40%;
    }

    .icon-section .right img{
        width: 90%;
    }

    .testimonial-section .image-container{
        width: 30%;
    }

    .testimonial-section .image-caption{
        width: 70%;
        text-align: left;
    }

    section.about-us-section .col.about-us-text-content{
        width: 50%;
    }

    section.about-us-section .col .image-content{
        width: 50%;
    }

}


/*  DESKTOP DA 992PX   */

@media screen and (min-width: 992px) {


    /* GENERAL */

    .container{
        max-width: 1140px;
    }


    /* MAIN */

    .icon-section .row .big-col{
        flex-wrap: wrap;
    }

    .planning-section .row{
        align-items: flex-end;
        justify-content: center;
    }

    .planning-section .col{
        width: 40%;
        margin: 40px 0px;
    }

    .planning-section .col:first-child img{
        margin-bottom: 40px;
    }

    .planning-section #special-card{
        width: 40%;
        margin-left: 50px;
        position: relative;
    }

    .planning-section #special-card img{
        width: 60%;
        position: relative;
        top: 0%;
        left: 50%;
        transform: translate(-50%);

    }
    
    .benefits-section .row .col{
        width: calc((100% / 3) - 20px);
    }

    .about-us-section .col:first-child{
        width: 70%;
    }

    .about-us-section .col{
        width: 30%;
    }
    
    .links-row{
        display: flex;
    }

    .hamburger-menu{
        display: none;
    }

    .left{
        width: 50%;
        margin-bottom: 0;
    }

    .right{
        width: 50%;
    }

    .icon-section .big-col{
        padding-right: 0;
    }

    .icon-section .right img{
        padding-top: 70px;
        width: 80%;
        margin-left: 20%;
        margin-bottom: 0;
    }

    #special-card{
        max-height: 80%;
    }

    section.about-us-section .col.about-us-text-content{
        width: 70%;
    }

    section.about-us-section .col .image-content{
        width: 20%;
    }

}



















/**************************
    DEBUG
**************************/

/* .debug header{
    height: 80px;
} */

