/**************************
    RESET
**************************/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/**************************
    GENERAL
**************************/

.container{
    max-width: 768px;
    margin: 0 auto;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.row{
    display: flex;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.col{
    width: 100% ;
    margin: 10px 0px;
}

section{
    margin: 20px 0;
    padding: 10px 20px;
}

img{
    width: 100%;
}

.button{
    border-radius: 1em;
}

.white-button{
    background-color: white;
    color: black;
    border-radius: 1em;
    padding: 6px 12px;
}

.blue-button{
    background-color: #0084FD;
    border-radius: 1em;
    padding: 6px 12px;
}

.purple-button{
    background-color: #9792E4;
    border-radius: 1em;
    padding: 6px 12px;
}

.round-button{
    border-radius: 50%;
}




/**************************
    HEADER
**************************/

header{
    background-color: #0084FD;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 20px;
    color: white;
}

header .row{
    justify-content: space-between;
    align-items: center;
}

.links-row{
    display: none;
}

header a{
    color: white;
    margin: 0 15px;
}

header .logo{

}

.hamburger-menu a{
    color: white;
}


/**************************
    MAIN
**************************/

/* ICON SECTION */

.icon-section .row{
    flex-wrap: wrap;
    width: 100%;
}

.icon-section .col{
    background-color: #B5DDFF;
}


/* PLANNING SECTION */

.planning-section{
    background-color: #BCB5EE;

}

#special-card{
    background-color: #FFFFFF;
    color: black;
    border-radius: 1em;
    padding: 10px 10px;
    text-align: center;
}


/* TESTIMONIAL SECTION */

.testimonial-section{
    text-align: center;
}

.testimonial-section .col:not(:first-child){
    color: white;
    background-color: #9792E4;
    border-radius: 1em;
}


/* BENEFITS SECTION */

.benefits-section{
    background-color: #9792E4;
}

.benefits-section .row{
    flex-wrap: wrap;
}

.benefits-section .col{
    background-color: white;
    color: #9792E4;
    width: calc((100%)- 20px);
    padding: 10px 10px;
    border-radius: 1em;
}

/* ABOUT US SECTION */

.about-us-section {

}


/**************************
    FOOTER
**************************/

/* FOOTER TOP */

footer div{
    padding: 10px 10px;
    text-align: center;
}

.footer-top{
    background-color: #9792E4;
}


/* FOOTER BOTTOM */

.footer-bottom{
    background-color: #333333;
}





/**************************
    RESPONSIVE
**************************/

/*  TABLET DA 768PX   */

@media screen and (min-width: 768px) {

    .container{
        max-width: 992px;
    }

    .icon-section .container > .row{
        justify-content: space-between;
    }

    .icon-section .row .col{
        width: calc((100% / 3) - 20px);
    }

    .icon-section .row .big-col{
        width: calc((100% / 3) * 2 - 10px);
    }

    .benefits-section .row .col{
        width: calc((100% / 2) - 20px);
    }

    .benefits-section .container > .row{
        justify-content: space-between;
    }
    
    .about-us-section .col:first-child{
        width: 60%;
    }

    .about-us-section .col{
        width: 40%;
    }

}


/*  DESKTOP DA 992PX   */

@media screen and (min-width: 992px) {

    .icon-section .row .big-col{
        flex-wrap: wrap;
    }

    .col .left{
        width: 100%;
    }

    .planning-section .col{
        width: 50%;
        align-items: flex-end;
    }
    
    .benefits-section .row .col{
        width: calc((100% / 3) - 20px);
    }

    .about-us-section .col:first-child{
        width: 70%;
    }

    .about-us-section .col{
        width: 30%;
    }
    
    .links-row{
        display: flex;
    }

    .hamburger-menu{
        display: none;
    }
}

















/**************************
    DEBUG
**************************/

/* .debug header{
    height: 80px;
} */

