/**************************
    RESET
**************************/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/**************************
    GENERAL
**************************/

.container{
    max-width: 768px;
    margin: 0 auto;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.row{
    display: flex;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.col{
    width:calc(100% - 20px);
    margin: 10px 10px;
}

section{
    margin: 20px 0;
    padding: 10px 0px;
}


/**************************
    HEADER
**************************/

header{
    background-color: #0084FD;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 10px;
}

header .row{
    justify-content: space-between;
}

.links-row{
    display: none;
}







/**************************
    MAIN
**************************/

/* ICON SECTION */

.icon-section .row{
    flex-wrap: wrap;
    width: 100%;
}

.icon-section .col{
    background-color: #B5DDFF;
}


/* PLANNING SECTION */

.planning-section{
    background-color: #BCB5EE;

}

#special-card{
    background-color: #FFFFFF;
    color: black;
    border-radius: 1em;
    padding: 10px 10px;
    text-align: center;
}

/* TESTIMONIAL SECTION */

.testimonial-section{
    text-align: center;
}

.testimonial-section .col:not(:first-child){
    color: white;
    background-color: #9792E4;
    border-radius: 1em;
}











/**************************
    RESPONSIVE
**************************/

/*  TABLET DA 768PX   */

@media screen and (min-width: 768px) {

    
    
}


/*  DESKTOP DA 992PX   */

@media screen and (min-width: 992px) {

    
    
}

















/**************************
    DEBUG
**************************/

/* .debug header{
    height: 80px;
} */

